#landing{
    background-color: rgba(115,66,214,0.1);
}

.header__container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__img--wrapper{
    padding: 20px;
   max-width: 450px;
   margin:auto;
    /*added*/
    z-index: 50;
}